@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.border-gradient-r {
  position: relative;
  border: transparent;
}

.border-gradient-r::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, russianviolet, yaleblue, russianviolet);
  z-index: -1;
  border-radius: inherit;
  clip-path: inset(0 0 0 2px);
}
.backdrop-hack {
  @apply absolute inset-0 -z-1 bg-transparent;
}
.outer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  pointer-events: none;
}
.inner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  
}
:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: light;
}
@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}
@layer base {
  body {
    @apply font-sans bg-color-lightcyan text-n-1 text-base;
  }
}

* {
  scroll-behavior: smooth;
}

@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(390deg);
  }
}

@keyframes rotate3 {
  0% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(420deg);
  }
}

@keyframes rotate4 {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}

@keyframes rotate5 {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(480deg);
  }
}

@keyframes rotate6 {
  0% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(510deg);
  }
}

@keyframes rotate7 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

@keyframes rotate8 {
  0% {
    transform: rotate(210deg);
  }
  100% {
    transform: rotate(570deg);
  }
}

@keyframes rotate9 {
  0% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(600deg);
  }
}

@keyframes rotate10 {
  0% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(630deg);
  }
}

@keyframes rotate11 {
  0% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(660deg);
  }
}

@keyframes rotate12 {
  0% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(690deg);
  }
}

@keyframes rotate13 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes rotate46 {
  0% {
    transform: rotate(46deg);
  }
  100% {
    transform: rotate(406deg);
  }
}
@keyframes rotate54 {
  0% {
    transform: rotate(54deg);
  }
  100% {
    transform: rotate(414deg);
  }
}
@keyframes rotate56 {
  100% {
    transform: rotate(-56deg);
  }
  0% {
    transform: rotate(-416deg);
  }
}
@keyframes rotate65 {
  100% {
    transform: rotate(-65deg);
  }
  0% {
    transform: rotate(-425deg);
  }
}
@keyframes rotate70 {
  0% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(430deg);
  }
}
@keyframes rotate85 {
  100% {
    transform: rotate(-85deg);
  }
  0% {
    transform: rotate(-445deg);
  }
}
.rotate-slow-1 {
  animation: rotate1 60s linear infinite;
}

.rotate-slow-2 {
  animation: rotate2 60s linear infinite;
}

.rotate-slow-3 {
  animation: rotate3 60s linear infinite;
}
.rotate-slow-4 {
  animation: rotate4 60s linear infinite;
}
.rotate-slow-5 {
  animation: rotate5 60s linear infinite;
}
.rotate-slow-6 {
  animation: rotate6 60s linear infinite;
}
.rotate-slow-7 {
  animation: rotate7 60s linear infinite;
}
.rotate-slow-8 {
  animation: rotate8 60s linear infinite;
}
.rotate-slow-9 {
  animation: rotate9 60s linear infinite;
}
.rotate-slow-10 {
  animation: rotate10 60s linear infinite;
}
.rotate-slow-11 {
  animation: rotate11 60s linear infinite;
}
.rotate-slow-12 {
  animation: rotate12 60s linear infinite;
}
.rotate-slow-13 {
  animation: rotate13 60s linear infinite;
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}
